<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ ecosystem_type.name }}</title>
</head>
<body>
    <h1>{{ ecosystem_type.name }}</h1>
    {% if ecosystems %}
        <ul>
            {% for ecosystem in ecosystems %}
                <li>{{ ecosystem.name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Нет экосистем в этой категории.</p>
    {% endif %}
    <a href="{% url 'Ecosystem_categories' %}">Вернуться к списку категорий</a>
</body>
</html>